<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="ProductComponentsPROD">

            <ComponentRef Id="MainAppShortcutPROD" />

        </ComponentGroup>


        <DirectoryRef Id="INSTALLFOLDER" FileSource="..\ConsoleApp1\bin\$(var.Configuration)\net8.0\win-$(var.Platform)\publish">

            <Component Id="MainAppShortcutPROD" Guid="{1C23FADF-AF37-4A15-AE04-58992B839F05}">

                <Shortcut Id="MainAppShortcutPROD"
                          Name="!(loc.ProductName_$(var.Platform))_PROD"
                          Target="[INSTALLFOLDER]\ConsoleApp1.exe"
                          Directory="InstallProgramMenuFolder"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="icon.ico"
                          />

                <!-- Our unique key for this component/shortcut -->
                <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)_PROD" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

                <!-- Remove start menu items -->
                <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />

            </Component>

        </DirectoryRef>

    </Fragment>
</Wix>
